{% extends "app_produtos/index.html" %} 

{% block title %}Cadastrar Equipamento{% endblock title %} 

{% block content %}

<h1>Cadastrar equipamento</h1>

<form class="needs-validation" method="post" novalidate>
    {% csrf_token %}
  <div class="row g-1" style="gap: 10px; padding-top: 20px;">
    <div class="col-sm-7">
      <label for="cod_equipamento" class="form-label">Código do Equipamento</label>
      <input type="number" class="form-control" name="cod_equipamento" id="cod_equipamento" required="" />
      <div class="invalid-feedback">Valid first name is required.</div>
    </div>

    <div class="col-7">
      <label for="nome_equipamento" class="form-label">Nome do equipamento</label>
      <input type="text" class="form-control" name="nome_equipamento" id="nome_equipamento" />
      <div class="invalid-feedback">Please enter a valid email address for shipping updates.</div>
    </div>   

  <button class="w-50 btn btn-primary btn-md" type="submit">Salvar</button>
  
<!-- Modal de Notificação -->
  <script>
    // Função para exibir o modal com mensagem de sucesso ou erro
    function showNotificationModal(success, message) {
      var modalTitle = document.getElementById('notificationLabel');
      var modalMessage = document.getElementById('notificationMessage');
  
      if (success) {
        modalTitle.textContent = 'Sucesso!';
        modalMessage.textContent = message;
        modalTitle.classList.add('text-success');
      } else {
        modalTitle.textContent = 'Erro!';
        modalMessage.textContent = message;
        modalTitle.classList.add('text-danger');
      }
  
      // Exibe o modal
      var notificationModal = new bootstrap.Modal(document.getElementById('notificationModal'));
      notificationModal.show();
    }
  </script>
   
  
  <div class="modal fade" id="notificationModal" tabindex="-1" aria-labelledby="notificationLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="notificationLabel"></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" id="notificationMessage">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Ok</button>
          </div>
        </div>
      </div>
    </div>

    {% if message_type and message_content %}
    <script>
      var success = "{{ message_type }}" === "success";
      var message = "{{ message_content }}";
      showNotificationModal(success, message);
    </script>
    {% endif %}
    

</form>

{% endblock content %}
