{% extends "app_produtos/index.html" %} {% block title %}Cadastrar Equipamento{% endblock title %} {% block content %}

<h1>Cadastrar Equipamento</h1>

<form class="needs-validation" method="post">
    {% csrf_token %}
  <div class="row g-1" style="gap: 10px; padding-top: 20px;">
    <div class="col-sm-7">
      <label for="cod_equipamento" class="form-label">Código do Equipamento</label>
      <input type="number" class="form-control" name="cod_equipamento" id="cod_equipamento" required="" />
      <div class="invalid-feedback">Valid first name is required.</div>
    </div>

    <div class="col-7">
      <label for="nome_equipamento" class="form-label">Nome equipamento</label>
      <input type="text" class="form-control" name="nome_equipamento" id="nome_equipamento" />
      <div class="invalid-feedback">Please enter a valid email address for shipping updates.</div>
    </div>   

  <button class="w-50 btn btn-primary btn-lg" type="submit">Salvar</button>
</form>

{% endblock content %}
