
{% extends "app_produtos/index.html" %}

{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}
{% if messages %}
<div class="container mt-3">
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}" role="alert" style="animation: fade-out 6s forwards;">
        {{ message }}
    </div>
    {% endfor %}
</div>
{% endif %}


<img src="{% static 'img/bg-logo.png' %}" alt="logo" style="display: block; margin: auto;"  />


<!-- Adiciona estilo para fade-out -->
<style>
    @keyframes fade-out {
        0% {
            opacity: 1;
        }
        90% {
            opacity: 0.1;
        }
        100% {
            display: none;
        }
    }
</style>

{% endblock content %}