{% extends "app_produtos/index.html" %} 

{% block title %}Registrar Ação{% endblock title %} 

{% block content %}


<form class="needs-validation" method="post" novalidate>
    {% csrf_token %}
  <div class="row g-2" style="gap: 10px; padding-top: 5px;">

    <div class="col-7">
      <label for="colaborador_id" class="form-label">Nome colaborador</label>
      <select class="form-select" name="colaborador_id" id="colaborador_id" required>
          <option selected disabled value="">Escolha um colaborador...</option>
          {% for colaborador in colaboradores %}
              <option value="{{ colaborador.id }}">{{ colaborador.nome_colaborador }}</option>
          {% endfor %}
      </select>
      <div class="invalid-feedback">Um colaborador válido é necessário.</div>
    </div>  

    <div class="col-7">
      <label for="equipamento_id" class="form-label">Equipamento</label>
      <select class="form-select" name="equipamento_id" id="equipamento_id" required>
          <option selected disabled value="">Escolha um equipamento...</option>
          {% for equipamento in equipamentos %}
              <option value="{{ equipamento.id }}">{{ equipamento.nome_equipamento }}</option>
          {% endfor %}
      </select>
      <div class="invalid-feedback">Um equipamento válido é necessário.</div>
    </div>   
    
    <div class="col-7">
        <label for="data_emprestimo" class="form-label">Data emprestimo</label>
        <input type="date" class="form-control" name="data_emprestimo" id="data_emprestimo" />
        <div class="invalid-feedback">Valid data is required.</div>
    </div>  

    <div class="col-7">
        <label for="data_prevista_devolucao" class="form-label">Data prevista devolução</label>
        <input type="date" class="form-control" name="data_prevista_devolucao" id="data_prevista_devolucao" />
        <div class="invalid-feedback">Valid data is required.</div>
    </div>  

    <div class="col-7">
      <label for="status" class="form-label">Status</label>
      <select class="form-select" id="status" name="status" required onchange="toggleDevolucaoFields()">
          <option selected disabled value="">Escolha...</option>
          <option value="Emprestado">Emprestado</option>
          <option value="Em uso">Em uso</option>
          <option value="Fornecido">Fornecido</option>
          <option value="Devolvido">Devolvido</option>             
          <option value="Danificado">Danificado</option>             
          <option value="Perdido">Perdido</option>             
      </select>        
    </div>

    <div class="col-7">
        <label for="condicoes" class="form-label">Condições do equipamento no emprestimo</label>
        <input type="text" class="form-control" name="condicoes" id="condicoes" />
        <div class="invalid-feedback">Valid equipamento is required.</div>
    </div> 

    <div class="col-7" id="dataDevolucaoField" style="display: none;">
      <label for="data_devolucao" class="form-label">Data de devolução</label>
      <input type="date" class="form-control" name="data_devolucao" id="data_devolucao" />
      <div class="invalid-feedback">Data válida é necessária.</div>
    </div>

    <div class="col-7" id="observacaoField" style="display: none;">
        <label for="observacao" class="form-label">Observação na devolução/perda</label>
        <input type="text" class="form-control" name="observacao" id="observacao" />
        <div class="invalid-feedback">Observação válida é necessária.</div>
    </div>

  <button class="w-50 btn btn-primary btn-lg" type="submit">Salvar</button>
  
  <script>
    function toggleDevolucaoFields() {
      var status = document.getElementById("status").value;
      var dataDevolucaoField = document.getElementById("dataDevolucaoField");
      var observacaoField = document.getElementById("observacaoField");
  
      if (status === "Danificado" || status === "Devolvido" || status === "Perdido") {
        dataDevolucaoField.style.display = "block";
        observacaoField.style.display = "block";
      } else {
        dataDevolucaoField.style.display = "none";
        observacaoField.style.display = "none";
      }
    }
  </script>

<!-- Modal de Notificação -->
  <script>
    // Função para exibir o modal com mensagem de sucesso ou erro
    function showNotificationModal(success, message) {
      var modalTitle = document.getElementById('notificationLabel');
      var modalMessage = document.getElementById('notificationMessage');
  
      if (success) {
        modalTitle.textContent = 'Sucesso!';
        modalMessage.textContent = message;
        modalTitle.classList.add('text-success');
      } else {
        modalTitle.textContent = 'Erro!';
        modalMessage.textContent = message;
        modalTitle.classList.add('text-danger');
      }
  
      // Exibe o modal
      var notificationModal = new bootstrap.Modal(document.getElementById('notificationModal'));
      notificationModal.show();
    }
  </script>
   
  
  <div class="modal fade" id="notificationModal" tabindex="-1" aria-labelledby="notificationLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="notificationLabel"></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" id="notificationMessage">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Ok</button>
          </div>
        </div>
      </div>
    </div>

    {% if message_type and message_content %}
    <script>
      var success = "{{ message_type }}" === "success";
      var message = "{{ message_content }}";
      showNotificationModal(success, message);
    </script>
    {% endif %}
    

</form>



{% endblock content %}
